* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

:root {
  --veryDarkBlue: #070439;
  --desaturatedBlue: #585989;
  --brightBlue: hsl(224, 93%, 58%);
  --moderateCyan: hsl(170, 45%, 43%);
  --lightGrayishBlue: #f8f8fe;
  --lightGray: hsl(0, 0%, 75%);
}

body {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
