/* HEADER ------------------------------------------------------- */

header {
  width: 100%;
  max-width: 1440px;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

a {
  text-decoration: none;
  color: var(--darkBlue);
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  transition: all 0.3s;
  cursor: pointer;
}

a:hover {
  color: var(--brightBlue);
}

/* MAIN ------------------------------------------------------- */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* primeira section ------------------------------------------------------- */

.primeira-section {
  align-items: flex-start;
  background-image: url(../images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding-bottom: 150px;
}

/* segunda section ------------------------------------------------------- */

.segunda-section {
  background-color: var(--lightGrayishBlue);
  gap: 90px;
  display: flex;
  padding-bottom: 100px;
}

.link-call-action {
  width: fit-content;
  font-size: 20px;
  line-height: 200%;
  border-bottom: 1px solid var(--moderateCyan);
  color: var(--moderateCyan);
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 50px;
}
.link-call-action:hover {
  color: #67dfcb;
  border-bottom-color: #67dfcb;
}

.link-call-action > img {
  width: 25px;
  height: 25px;
}

blockquote {
  width: 80%;
  min-width: 300px;
  padding: 25px 35px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 20px;
  box-shadow: 4px 4px 8px #f2f2f2, -4px -4px 8px #f2f2f2;
}

blockquote > img {
  width: 15px;
  height: 15px;
}

blockquote p {
  font-size: 16px;
}
.profile {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile article h3 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.8px;
  font-family: 'Raleway', sans-serif;
}

.profile article p {
  font-size: 10px;
}

/* ENROLLMENT -------------------------------------------------------------*/

.enrollment {
  background-color: var(--desaturatedBlue);
  padding: 80px 50px;
}

.enrollment fieldset {
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.enrollment fieldset input {
  width: 100%;

  outline: none;
  border: none;
}

.enrollment fieldset button {
  height: 50px;
}

.enrollment p,
.enrollment h3 {
  color: var(--lightGrayishBlue);
  font-size: 18px;
  line-height: 200%;
}
.enrollment h3 {
  font-size: 36px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

/* FOOTER ------------------------------------------------------ */

footer {
  width: 100%;
  color: var(--lightGrayishBlue);
  background-color: var(--veryDarkBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
}

footer .content {
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 0;
  gap: 30px;
}

.content ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.li-column {
  width: 20%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.li-column a {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  gap: 15px;
}

.li-column a img {
  width: 18px;
}

.socials {
  display: flex;
  flex-direction: row;
}
.icon-social {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--lightGrayishBlue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-social:hover {
  background-color: var(--brightBlue);
}
